* {
    box-sizing: border-box;
}

div {
    background: #E5E5E5;
    padding: 10px;
    margin: 10px;
    height: 150px;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: Roboto;
}

h1 {
    font-size: 3.5em;
    font-weight: 400;
}

h2 {
    font-size: 2.65em;
    font-weight: 400;
}

.first {
    width: 75%;
}

.second {
    width: 50%;
}

div:nth-child(3){
    font-size: 10px;
}